In [1]:
from main import *

Diet Food Box Con Diet Food Box podrás comprar una caja de la dieta alimenticia que tu elijas con todos los productos que debas comer en dicha dieta.

['diet', 'food', 'box', 'con', 'diet', 'food', 'box', 'podrás', 'comprar', 'una', 'caja', 'de', 'la', 'dieta', 'alimenticia', 'que', 'tu', 'elijas', 'con', 'todo', 'lo', 'producto', 'que', 'deba', 'comer', 'en', 'dicha', 'dieta']

['food', 'small batch']

0.0 $ /  84632.44125 $
Expected pledge amt. if given NO project txt: 26255.79

In [11]:
df.shape

(775, 2)

In [9]:
df.head()

         Gram  Monetary Impact
0  board game     20467.143789
1       board     19545.967339
2     creator     18335.998278
3         1 4     17622.587753
4         set     17486.324557

In [10]:
df.describe()

       Monetary Impact
count       775.000000
mean        221.036841
std        3168.034338
min       -9372.858191
25%       -1188.971857
50%        -521.063043
75%         486.790401
max       20467.143789

In [3]:
import seaborn as sns

In [19]:
sns.countplot(x = 'Gram', y = 'Monetary Impact', data = df.head())

0      20467.143789
1      19545.967339
2      18335.998278
3      17622.587753
4      17486.324557
5      16499.123126
6      15938.689648
7      15714.566529
8      14900.159172
9      13427.685733
10     12862.128978
11     12645.270862
12     12285.390210
13     11740.992578
14     11361.303015
15     11329.122277
16     11282.156234
17     11178.467248
18     10836.432247
19      9567.643912
20      9292.310585
21      9146.204859
22      8781.503861
23      8583.361533
24      8380.451217
25      8067.218452
26      7707.739586
27      7137.664144
28      6989.511694
29      6983.565739
           ...
745    -3146.845688
746    -3190.904905
747    -3195.343390
748    -3217.417608
749    -3290.846697
750    -3353.641094
751    -3371.240816
752    -3449.362664
753    -3461.490305
754    -3478.541072
755    -3494.432016
756    -3517.802692
757    -3524.632447
758    -3577.802613
759    -3607.353473
760    -3829.709141
761    -3876.717165
762    -3884.186432
763    -3912.078824
764    -3966.025567
765    -3979.137970
766    -4640.502208
767    -4707.561933
768    -4920.472928
769    -6205.515679
770    -6263.520066
771    -6863.476138
772    -8809.734144
773    -8841.550701
774    -9372.858191
Name: Monetary Impact, Length: 775, dtype: float64